body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
}

h1 {
    margin-top: 20px;
    color: #333;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 4%;
}

.product-card {
    width: 20%;
    position: relative;
    background-color: #f8f7f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}


/* Media query for mobile devices */
@media (max-width: 768px) {
    .product-card {
        width: 35%; /* Width for mobile devices */
    }
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 15px;
}

.product-info h2 {
    font-size: 16px;
    margin: 10px 0;
    font-weight: 600;
    color: #333;
}

.product-info p {
    color: #777;
    font-size: 14px;
}

.product-info .price {
    color: #333;
    font-size: 18px;
    font-weight: bold;
}
/* -------------------- */
.product-data{
    flex:2;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: flex-start;
    justify-content: flex-start; 
}
.product-content {
    display: flex;
    padding: 5%;
    gap: 5%;
    /* align-items: flex-start;
    padding: 5%;
    flex-wrap: wrap;  */
}

#product-description {
    word-wrap: break-word;      /* Ensures long words wrap within the container */
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: 80%;  
    color: #666 !important  
              /* Ensure text stays within the container */
}

.product-description {
    /* flex: 1; */
    /* flex-wrap: wrap; */
    max-width: 100%;
    box-sizing: border-box;
    overflow: auto;
    /* padding-right: 10%; */
    text-align: left;
    margin-top: 20px;
}

/* .product-description h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-description p {
    margin: 10px 0;
    font-size: 16px;
} */



#product-gallery {
    /* flex: 1; */
    max-width: 50%; 
    display: flex;
    align-items: flex-start;

    /* flex-direction: column;  */
    /* align-items: center; */
    /* padding-left: 5%; */
}

.thumbnail-gallery {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
 

    /* gap: 10px;
    margin-top: 20px;
    overflow-x: auto;
    padding: 10px; */
}

.thumbnail-gallery img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px; /* Space between thumbnails */
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.2s, filter 0.2s;
    filter: grayscale(100%);
    /* object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
    border-radius: 4px; */
}
/* Remove grayscale filter for selected thumbnail */

.thumbnail-gallery img:hover{
    border-color: #007BFF;
    transform: scale(1.1);
}
.thumbnail-gallery img.active {
    border-color: #007BFF;
    filter: grayscale(0%);

}

.main-image {
    flex: 1;
    max-width: 100%; 
    border-radius: 10px;
    padding: 10px;

}

.main-image img {
    max-width: 100%;
    /* max-height: 100%; */
    /* border-radius: 4px; */
    height: auto;
    border-radius: 10px;
}



@media (max-width: 1024px) {
   
    .main-image {
        max-width: 100%; /* Limit width to avoid overflow */
        width: 100%; /* Full width on mobile */
        padding: 0px;
        border-radius: 0px;
    }
    .main-image img {
        border-radius: 0px;
    }
    .product-data{
        padding: 5%;
    }

    /* Adjust table styling */
    .product-info-table {
        max-width: 100%;
        width: 100%;
        margin-top: 20px;
        font-size: 14px; /* Smaller font size for readability on mobile */
    }

    .thumbnail-gallery img {
        width: 50px;
        height: auto;
    }

    .product-description {
        max-width: 60%;
        padding-left: 5%;
    }
  
    .product-content {
        flex-direction: column;
        align-items: center;
        padding: 0%;
    }

    .product-description,
    #product-gallery {
        max-width: 100%;
        padding-left: 0;
    }

    .thumbnail-gallery {
        justify-content: center;
        gap: 5px;
    }
}

@media (max-width: 768px) {
    .product-data{
        padding: 5%;
    }

    .product-info-table {
        max-width: 100%;
        width: 100%;
        margin-top: 20px;
        font-size: 14px; /* Smaller font size for readability on mobile */
    }
    .main-image img {
        border-radius: 0px;
    }

    .main-image {
        max-width: 100%; /* Limit width to avoid overflow */
        width: 100%; /* Full width on mobile */
        padding: 0px;
        border-radius: 0px;
    }


    /* Make thumbnails smaller and fit in a row for mobile */
    .thumbnail-gallery img {
        width: 50px;
        height: auto;
        flex-shrink: 0;
        scroll-snap-align: start; /* Snaps each image to the start */

    }

    .product-description {
        max-width: 60%;
        padding-left: 5%;
    }
  
    .product-content {
        flex-direction: column;
        align-items: center;
        padding: 0%;
    }

    .product-description,
    #product-gallery {
        flex-direction: column-reverse; /* Stack main image and thumbnails vertically */
        align-items: center;
        max-width: 100%;
        padding-left: 0;
        
    }

    .thumbnail-gallery {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        overflow-x: scroll; /* Enables horizontal scrolling */
        white-space: nowrap; /* Prevents wrapping of thumbnails to new lines */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
        scroll-snap-type: x mandatory; /* Optional: ensures thumbnails snap into view */
        width: 100%;
    }
}



.product-info-table {
    /* flex: 1; */
    flex-direction: column;
    display: flex;
    width: 80%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    /* border-radius: 8px; */
    font-family: Arial, sans-serif;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    margin-top: 20px;


}


.table-section {

    background-color: #ffffff;
    border: 0.5px solid #ddd;
    overflow: hidden;
    cursor: pointer;
    /* max-width: 100%; */

}

.table-header {
    padding: 15px;
    color: #333;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.table-content {
    display:none;
    padding: 15px;
    font-size: 14px;
    color: #333;
    line-height: 1.6;
}

.table-content ul {
    padding-left: 20px;
}

.table-content ul li {
    list-style: disc;
    margin-bottom: 5px;
}

.table-content a {
    color: #0073e6;
    text-decoration: none;
}

.table-content a:hover {
    text-decoration: underline;
}

.table-icon {
    font-size: 20px;
    color: #888;
}





